:root {
    --bg-black: #000;
    --bg-gray: #d3d3d3;
}

* {
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  justify-content: flex-end;
}
.navbar > .lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 10px;
}
.navbar > .lista > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar > .lista > li > a {
  margin-right: 15px;
  text-decoration: none;
  color: var(--bg-black);
}
.navbar > .lista > li > a:hover {
  color: var(--bg-gray);
  text-decoration: underline;
}
.navbar > .lista > li.item > img {
    padding: 0 16px 0 0 ;
}

.menu-icon > i {
  color: var(--bg-gray);
  margin-right: 15px;
}
.menu-icon > i:hover {
  color: var(--bg-black);
  cursor: pointer;
}
.modal-menu-apps {
  width: 320px;
  background: #fff;
  position: absolute;
  display: none;
  top: 60px;
  right: 20px;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.modal-menu-apps > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}
.modal-menu-apps > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
  flex-basis: 70px;
}
.modal-menu-apps > ul > li:hover {
  border: 1px solid lightgray;
  border-radius: 3px;
}
.modal-menu-apps > ul > li > img {
  height: 60px;
  width: 60px;
}
.modal-menu-apps > div {
  width: 100%;
  background: rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.modal-menu-apps > div > a {
  text-decoration: none;
  color: var(--bg-black);
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-sino {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.img-perfil {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.img-perfil:hover {
  cursor: pointer;
}
.btn-sino:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.btn-sino > img {
  height: 10px;
  width: 10px;
}
.logo > img {
  width: 272px;
  height: 92px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.form-pesquisa {
  width: 550px;
  margin-top: 20px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.05);
  display: flex;
}
.form-pesquisa:hover {
  background: rgba(0, 0, 0, 0.1);
}
.form-pesquisa > span > img {
  height: 20px;
  width: 20px;
}
.form-pesquisa > span {
  background: transparent;
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.form-pesquisa > span:hover {
  cursor: pointer;
}
.campo-pesquisa {
  background: transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  flex-grow: 2;
  height: 40px;
  padding-left: 20px;
  display: inline-block;
}
.campo-pesquisa:focus {
  outline: 0;
}
.campo-pesquisa:focus::placeholder {
  color: transparent;
}
.mais-acessados {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 550px;
  margin-top: 35px;
  padding-left: 35px;
}
.mais-acessados > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
.mais-acessados > div:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.mais-acessados > div > div {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mais-acessados > div > div > img {
  height: 25px;
  width: 25px;
}
.mais-acessados > div > p {
  width: 80px;
  overflow: hidden;
  white-space: nowrap;
}
footer {
  position: fixed;
  right: 20px;
  bottom: 15px;
  padding: 7px;
}
footer:hover {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  cursor: pointer;
}

footer > img {
  height: 15px;
  width: 15px;
}
#modal-notificacoes {
  width: 350px;
  display: none;
  position: absolute;
  top: 60px;
  right: 20px;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  background: #eee;
}
#modal-notificacoes > .cabecalho {
  width: 100%;
}
#modal-notificacoes > .cabecalho > img {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 23px;
  width: 23px;
}
#modal-notificacoes > .cabecalho > h2 {
  text-align: center;
  margin-top: 15px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.2);
}
#modal-notificacoes > .corpo {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.corpo > h4 {
  color: rgba(0, 0, 0, 0.3);
}
#footerbtn {
  background: lightgray;
}
#footerbtn > button {
  width: 100%;
  padding: 3px 0px 3px 0px;
  background: transparent;
  border: 1px solid lightgray;
}
#mini-modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 15px;
}
#mini-modal > div > img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
#modal-usuario {
  width: 380px;
  background: #fff;
  position: absolute;
  top: 60px;
  right: 20px;
  display: none;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#corpo-modal {
  display: flex;
}
.area-foto {
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.area-foto:hover {
  cursor: pointer;
}
.img-perfilModal {
  background: url("https://lh3.googleusercontent.com/-R8YP-cDhsTE/AAAAAAAAAAI/AAAAAAAAAAA/AKxrwcZUs3_RqFV5zXIFaDtr9ppTiPQalg/s96-c-mo/photo.jpg");
  height: 96px;
  width: 96px;
  position: relative;
}
.alterar {
  position: absolute;
  bottom: 0;
  left: 0px;
  padding: 7px 0;
  line-height: 9px;
  text-align: center;
  color: white;
  font-size: 9px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.54);
  width: 96px;
}
#user-data {
  padding: 15px 20px 20px 0px;
  display: flex;
  flex-direction: column;
}
.privacidade {
  display: flex;
  margin: 5px 5px 10px 0px;
}
.privacidade > a {
  text-decoration: none;
  color: blue;
  font-size: 15px;
}
.privacidade > a:hover {
  text-decoration: underline;
}
.btn-conta-google {
  padding: 5px 0px 5px 15px;
  width: 115px;
  background-color: #4d90fe;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
}
.btn-conta-google:hover {
  background-color: #357ae8;
  cursor: default;
}

#footer-modal {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  background-color: #f5f5f5;
}
#footer-modal > a {
  padding: 7px 12px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  color: #666;
  text-decoration: none;
  background-color: #f8f8f8;
  font-size: 14px;
}
#footer-modal > a:hover {
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#modal-add-atalho {
  width: 320px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.corpo-modal > form {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
}

.corpo-modal > .titulo {
  padding: 20px 20px;
}

.form-atalho > label {
  font-size: 10px;
}
.form-atalho > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  border: none;
  border-radius: 3px;
}

.footer-btns {
  padding: 0px 20px 20px 20px;
  font-size: 13px;
  font-weight: bold;
}

.footer-btns > a,
.footer-btns > div > a {
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

#btn-remover {
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: gray;
}

#btn-cancelar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #4d90fe;
}

#btn-cancelar:hover {
  background: rgba(77, 144, 254, 0.02);
}

#btn-concluido {
  border: none;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
  transition: all 0.2s ease-in-out;
}

#modal-personalizada-pagina {
  width: 320px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  right: 25px;
  bottom: 60px;
  display: none;
  padding: 10px;
}

#modal-personalizada-pagina > .titulo {
  margin: 10px 0px 20px 10px;
  font-size: 17px;
}

#restaurar-padrao {
  display: flex;
}

#modal-select-photo {
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.header-modal-select-photo {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 0px 20px;
  background: inherit;
}

.titulo-modal-select-photo {
  width: 100%;
  margin-bottom: 20px;
}

.titulo-modal-select-photo > i {
  float: right;
  color: rgba(0, 0, 0, 0.4);
}

.titulo-modal-select-photo > i:hover {
  cursor: pointer;
}

.titulo-modal-select-photo h3 {
  font-weight: 500;
  position: relative;
  left: 0px;
  display: inline-block;
}

.header-modal-select-photo button {
  border: none;
  background: inherit;
  padding: 20px 5px;
  margin-right: 30px;
  font-size: 14px;
}

.header-modal-select-photo button:hover {
  border-bottom: 2px solid blue;
  cursor: pointer;
}

.tab-body {
  display: none;
  height: 400px;
}

#tab-body-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-upload {
  border-bottom: 2px solid blue;
  font-weight: bold;
}

#tab-body-1 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;
}

#tab-body-1 img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

#tab-body-1 > div h1,
#tab-body-1 > div p {
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
  padding: 0px 20px;
}

#tab-body-1 p {
  font-weight: bold;
}

#tab-body-1 button {
  padding: 7px;
  font-weight: bold;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#tab-body-2 {
  display: none;
  flex-direction: column;
}
.campo-busca {
  position: relative;
  left: 20px;
  top: 20px;
}
.campo-busca input {
  width: 50%;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 15px;
}

.campo-busca button {
  padding: 5px 15px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.pasta-foto {
  width: 170px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 40px;
  left: 20px;
}

.pasta-foto:hover {
  cursor: pointer;
}

.pasta-foto div {
  padding: 5px 0px 30px 10px;
  font-size: 12px;
  font-weight: bold;
}

.pasta-foto img {
  height: 120px;
  width: 100%;
}

#tab-body-2-1 {
  display: none;
  position: relative;
  overflow-y: scroll;
}

.navegacao-galeria {
  position: absolute;
  left: 10px;
  right: 0px;
  top: 10px;
  font-size: 12px;
  margin-bottom: 40px;
}

#navegacao-voltar:hover {
  cursor: pointer;
}
.navegacao-galeria p:last-child,
.navegacao-galeria span {
  font-weight: bold;
}

.navegacao-galeria p,
.navegacao-galeria span {
  margin-right: 10px;
  display: inline-block;
}

.corpo-galeria {
  margin-left: 15px;
}

.corpo-galeria div > div > p {
  display: inline-block;
  margin-top: 30px;
}

.data-galeria p:first-child {
  font-weight: 600;
}

.data-galeria p:last-child {
  font-size: 13px;
  margin-left: 10px;
}

.album-fotos-data > div {
  width: 190px;
  margin: 5px;
  position: relative;
}
.album-fotos-data div img {
  width: 100%;
  height: 100%;
}
.album-fotos-data div span {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.album-fotos-data div:hover span {
  display: block;
}
.album-fotos-data div span i {
  color: #ccc;
  cursor: pointer;
  padding: 0px 10px 5px 5px;
}

.album-fotos-data div span div {
  float: right;
}
.album-fotos-data {
  display: flex;
  flex-wrap: wrap;
}

#tab-body-3 {
  display: none;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
}
.footer-modal-select-photo {
  border-top: 1px solid #ccc;
  padding: 30px;
  background: inherit;
}

.botoes-footer a {
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px;
}

.botoes-footer div {
  display: inline-block;
  margin-left: 30px;
  font-size: 13px;
  color: #ccc;
}

.botoes-footer div p a {
  color: blue;
}

.botoes-footer div p a:hover {
  text-decoration: underline;
}

.btn-definir-foto {
  background: #4d90fe;
  opacity: 0.5;
  border: 1px solid #3079ed;
  color: white;
  margin-right: 10px;
  cursor: default;
}

.btn-cancelar-difinir-foto {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}
.btn-cancelar-difinir-foto:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#pagina-de-voz {
  display: none;
  position: absolute;
  top: 0px;
  background: #fff;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#pagina-de-voz > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagina-de-voz > div > h1 {
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}

#btn-fechar-pagina-voz {
  position: absolute;
  right: 20px;
  top: 20px;
  color: rgba(0, 0, 0, 0.3);
}

#btn-fechar-pagina-voz:hover {
  cursor: pointer;
}
