section{
    background:#E6ECF0;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}

section > div{
    
}

/*Card*/
.card{
    padding-top: 15px;
}

.username > h1:hover, small:hover{
    text-decoration: underline;
    cursor:pointer;
}

.card > small, .card > p{
    color: #71848D;
    line-height: 30px;
}

.card > div > p > i{
    margin-right: 5px;
}

.card > div{
    margin-top: 10px;
}

.usergallery > img{
    height: 80px;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
}

.usergallery > a{
    display:block;
    margin-bottom: 5px;
    text-decoration: none;
    color:#E81C4F;
}

.usergallery > a > i{
    margin-right: 5px;
}
.usergallery > a:hover{
    text-decoration:underline;
}

/*Card*/

.main{
    background:#fff;
    width: 600px;
}

.menuMain{
    border-bottom:1px solid rgba(0,0,0,0.05);
}

.listaMenuMain{
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;
    padding: 10px 0px 10px 0px;
}

.listaMenuMain > li > a{
    font-size: 20px;
    font-weight: 800;
    color: #E81C4F;
    cursor: pointer;
    text-decoration: none;
}

.listaMenuMain > li > a:hover{
    text-decoration: underline;
}

.contextTweet{
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #71848D;
}

.userInfo{
    display:flex;
    flex-direction: row;
    margin-left: 15px;
    color: #71848D;
}

.userInfo > a > img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: -px;
}

.datauser{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.datauser > .name{
    font-weight: 800;
    color:black;
    margin-right: 5px;
    margin-left: 7px;
}

.datauser > .username{
    margin-right: 12px;
}