nav{
    border-bottom:1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    width:100%;
    z-index:1000;
    background: #fff;
    box-shadow: 0px 0 1px 1px rgba(0,0,0,0.25);
}

.iconTwitter{
    margin-left: 50px;
    color:#1DA1F2;
    cursor:pointer;
}

.menuNavegacao{
    display:flex;
    flex-direction: row;
    list-style: none;
    margin-left: 0px;
}

.itensMenu{
    text-decoration: none;
    color: #66757F;
    font-weight: 600;
    padding:16px;
}

.itensMenu:hover{
    color:#E81C4F;
    border-bottom:2px solid #E81C4F; 
    transition: all .15s ease-in-out;
}

.itensMenu:active{
    color: #E81C4F;
}

.iconeMenu{
    margin-right:7px;
}

.menuTopoLateralDireito{
    margin-right: 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;

}

#campoBuscarTwitter{
    border-radius: 50px;
    height: 30px;
    padding-left: 15px;
    border:1px solid #ccc;
    box-sizing:border-box;
    background:#F5F8FA;
}
#campoBuscarTwitter::placeholder{
    color:#8E9CA7;
}

#campoBuscarTwitter:focus{
    border:2px solid #E81C4F;
    outline: 0 none;
    background: #fff;
    transition: all .15s ease-in-out;
}

.miniFotoPerfil{
    height: 32px;
    width:32px;
    border-radius:30px;
}

#btnTweetar{
    border-radius: 50px;
    padding:7px 15px;
    color:white;
    background: #EC4972;
    text-decoration: none;
    font-weight: 800;
}

#btnTweetar:hover{
    background:#e0174a;
}

header{
    margin-top:50px;
}
